body {
    background-color: darkred;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: white;
    padding: 15px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tr {
    border: 1px solid black;
}

td {
    padding: 4px;
}

label {
    font-weight: bold;
}

.header {
    padding: 10px;
    text-align: center;
}

.tableHeader {
    font-weight: bold;
    text-align: center;
}

.tableHeader2 {
    font-weight: bold;
    text-align: center;
    background-color: darkgray;
}

.tableHeader3 {
    font-weight: bold;
}